.character-nav {
  /* border: .25em red solid; */
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 10vh;
  width: 100%;
}

.character-button {
  height: 5vh;
  width: 10vw;
}