.footerbar {
  position: fixed;
  bottom: 0;
  height: 5vh;
  width: 99%;
  background-color: white;
  color: black;
  text-align: right;
}

@media screen and (max-width: 640px) { 
  .footerbar {
    text-align: center;
  }
}