.headerbar {
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100vw;
  color: #689cc5;
  font-size: 2em;
}

h1 {
  margin: 0;
}

.page-header {
  margin: 0;
  text-align: center;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  height: 5vh;
  width: 5vh;
  margin-left: 2vh;
}

.nav-links {
  color: whitesmoke;
  font-size: .50em;
}

.todo-icon {
  margin-left: 0;
}

@media screen and (max-width: 640px) { 
  h1 {
    /* color: red; */
    font-size: 1.5em;
  }

  .nav-links {
    font-size: .40em;
  }
}